<div class="card card-body">
  <h1 class="text-center mt-3">必填欄位* 請修改您的支出</h1>
  <form action="/records/{{ record._id }}?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="name" class="mb-2">名稱*</label>
      <input type="text" id="name" name="name" class="form-control" value="{{ record.name }}" required>
    </div>
    <div class="mb-3">
      <label for="date" class="mb-2">日期*</label>
      <input type="date" id="date" name="date" value="{{ record.date }}" min="2018-01-01" max="2060-12-31" required>
    </div>
    <div class="mb-3">
      <label for="category" class="mb-2">類別*</label>
      <select class="form-select" name="categoryId" id="category" value="{{ record.categoryId }}">
        <option value="">Select</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="amount" class="mb-2">金額*</label>
      <input type="text" id="confirmPassword" name="amount" class="form-control" value="{{ record.amount }}" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">送出</button>
  </form>

</div>
</div>
</div>